.navbar{
  margin: 0 auto;
  font-size: 20px;
}
.navbar-brand {
  color: #49515d;
  font-size: 30px;
  font-weight: 700;
  font-family: montserrat, Helvetica, sans-serif;
}

.navbar-brand span {
  color: #2eca7f
}

.navbar-nav li {
  position: relative;
  padding-left: 20px;
  text-align: center;
}

li a:hover {
  text-decoration: underline;
  text-decoration-color: #2eca7f;
  text-decoration-thickness: 3px;
  text-underline-position: under;
  text-underline-offset: 3px;
  -webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  -ms-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out
}

.active-link {
  text-decoration: underline;
  text-decoration-color: #2eca7f;
  text-decoration-thickness: 3px;
  text-underline-position: under;
  text-underline-offset: 3px;
  -webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  -ms-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out
}
