.profile-page{
  margin-top: 20px;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 15px 25px 0 rgba(0, 0, 0, .1);
  transform: translate3d(0, 0, 0);
}
.page-header{
  margin-top: 0;
}
.page-content {
  padding: 30px 50px 50px
}

.profile-page .page-header{
  position: relative;
  background-color: #2eca7f;
  padding: 50px;
  margin-bottom: 25px;
  background-image: url(/assets/images/sp_main_bg.png);
  background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat
}

.profile-page .page-header .photo {
  max-width: 280px;
  border: 3px solid #fff;
  background-color: #fff;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .1);
  transition: all .3s ease-in-out;
  aspect-ratio: 1/1;
}
img{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.profile-page .page-header .photo:hover {
  transform: scale(1.1);
  box-shadow: 0 18px 24px rgba(0, 0, 0, .15)
}
.profile-page .page-header .title-block {
  text-align: center
}

.profile-page .page-header .title-block h1 {
  color: #fff;
  font-size: 54px;
  font-weight: 700;
  margin: 30px 0 0
}

.profile-page .page-header .title-block .sp-subtitle {
  color: #fff;
  font-size: 18px;
  margin: 10px;
}

.profile-page .social-links {
  position: relative;
  text-align: center;
  margin: 20px auto 0;
}

.profile-page .social-links a i{
  display: inline-block;
  width: 36px;
  height: 36px;
  /*border-radius: 20px;*/
  /*background-color: #fff;*/
  margin: 0 4px;
  /*color: #2eca7f;*/
  /*text-align: center;*/
  /*box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .1)*/
}

/*.profile-page .social-links a:hover {*/
/*  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, .2)*/
/*}*/

.profile-page .social-links a i {
  line-height: 36px;
  font-size: 20px;
  /*background-color: white;*/
}

.profile-page .page-content {
  padding-top: 20px
}

.profile-page .page-content div {
  display: inline-block;
  height: 100%
}

.profile-page .about-me .block-title h3 {
  margin-bottom: 10px
}

.start-page-content .page-content .download-resume {
  margin-top: 15px
}

.block-title h3 {
  font-size: 30px;
  font-weight: 700;
  font-family: montserrat, Helvetica, sans-serif;
  margin: 5px 0 25px
}

.block-title h3 span {
  color: #2eca7f
}


.info-list {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.info-list li {
  margin: 6px 0;
  text-align: left
}

.info-list li .title {
  display: inline-block;
  min-width: 120px
}

.info-list li .value {
  display: inline-block;
  color: #5b5b5b
}
