<div class="container">
  <div class="profile-page">
  <div class="page-header">
    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="photo" >
          <img ngSrc="assets/images/photo.png" alt="" height="550" width="550">
        </div>
      </div>

      <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="title-block">
          <h1>Prabeen Soti</h1>
          <div class="item">
            <div class="sp-subtitle">Java Engineer</div>
          </div>
          <div class="item">
            <div class="sp-subtitle">Full Stack Developer</div>
          </div>
        </div>

        <div class="social-links">
          <a href="https://github.com/prabeensoti" target="_blank" rel="noopener noreferrer"><i class="ci ci-github ci-2x"></i></a>
          <a href="https://www.linkedin.com/in/prabeensoti/" target="_blank" rel="noopener noreferrer"><i class="ci ci-linkedin ci-2x"></i></a>
          <a href="https://leetcode.com/prabeensoti/" target="_blank" rel="noopener noreferrer"><i class="ci ci-leetcode ci-2x"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="about-me">
          <div class="block-title">
            <h3>About <span>Me</span></h3>
          </div>
          <p>
            Highly skilled Full Stack Java Engineer with professional experience specializing in backend systems. Expertise in Java, Spring, Spring Boot, Spring Cloud, JavaScript, TypeScript, React, Angular, MySQL, Docker, Kubernetes, Hibernate/JPA, JMS, Kafka, PostgreSQL, and MongoDB.
          </p>
        </div>
        <div class="download-resume">
          <a href="{{profileUrl}}" class="btn btn-secondary" target="_blank" rel="noopener noreferrer">Download Resume</a>
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6">
        <ul class="info-list">
          <li><span class="title">Age</span><span class="value">29</span></li>
          <li><span class="title">Country</span><span class="value">USA</span></li>
          <li><span class="title">Address</span><span class="value">Plantation, Florida</span></li>
          <li><span class="title">Email</span><span class="value">sotiprabeen&#64;gmail.com</span></li>
          <li><span class="title">Phone</span><span class="value">+1(682) 368-8484</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
