<div class="container">
<div class="blog-page">
  <div class="page-header">
    <h2>Blog</h2>
  </div>
  <div class="page-content">
    <!-- Blog Posts Grid -->
    <div class="blog-masonry two-columns">
      <div *ngFor="let blog of blogs">
      <!-- Blog Post 1 -->
        <div class="item">
          <div class="blog-card">
            <div class="media-block">
              <a href="{{blog.url}}" target="_blank" rel="noopener noreferrer">
                <img class="post-image img-fluid" ngSrc="{{blog.img}}" alt="blog-post" height="375"
                     width="800"/>
                <div class="mask"></div>
                <div class="post-date"><span class="day">{{ blog.day }}</span><span class="month">{{ blog.month }}</span><span class="year">{{ blog.year }}</span></div>
              </a>
            </div>
            <div class="post-info">
              <a href="{{blog.url}}" target="_blank" rel="noopener noreferrer">
                <h4 class="blog-item-title">{{blog.title}}</h4>
              </a>
            </div>
          </div>
        </div>
        <!-- End of Blog Post 1 -->
      </div>
    </div>
    <!-- Blog Posts Grid -->
  </div>
</div>
</div>
