.blog-page{
  margin-top: 20px;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 15px 25px 0 rgba(0, 0, 0, .1);
  transform: translate3d(0, 0, 0);
}
.page-header{
  margin-top: 0;
}
.blog-page .page-header{
  position: relative;
  background-color: #2eca7f;
  padding: 50px;
  margin-bottom: 25px;
  background-image: url(/assets/images/sp_main_bg.png);
  background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
}
.blog-page .page-content {
  background-color: #fff;
  margin-top: 0;
  margin-left: 5%;
  margin-right: 5%;
}
.blog-page .page-header h2 {
  color: #ffffff;
  font-size: 44px;
  font-weight: bold;
  text-align: center;
}

.blog-masonry {
  margin: 0 -1em;
}

.blog-masonry.two-columns .item {
  width: 50%;
  float: left;
  padding: 1em
}

/*.blog-masonry.three-columns .item {*/
/*  width: 33.333333%;*/
/*  float: left;*/
/*  padding: 1em*/
/*}*/

.blog-card {
  display: block;
  position: relative;
  padding: 0;
  background: #fff;
  text-align: center;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
}

.blog-card:hover {
  box-shadow: 0 1px 15px rgba(0, 0, 0, .11);
}

.blog-card .post-image {
  width: 100%;
  margin: 0;
}

.blog-card .post-info {
  padding: .8em 1.2em 1.4em;
}

.blog-card .blog-item-title {
  margin: 5px 0 0;
}

.blog-card .post-meta {
  padding: 1em;
  margin: 0;
}

.blog-card .post-date {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  padding: .3em;
  text-align: center;
  position: absolute;
  top: 15px;
  right: 1em;
  min-width: 44px;
  transition: all .2s ease-in-out;
}

.blog-card .post-date span {
  display: block;
  color: #2eca7f;
  line-height: 1;
  font-size: 12px;
  margin: 0;
}

.blog-card .media-block {
  position: relative;
}

.blog-card .media-block a .mask {
  position: absolute;
  background: rgba(79, 86, 94, .6);
  display: inline-block;
  line-height: 1;
  width: 100%;
  left: 0;
  bottom: 0;
  top: 0;
  visibility: hidden;
  transition: all .2s ease-in-out;
}


.blog-card .media-block a:hover .mask {
  visibility: visible;
  opacity: 1;
}

.blog-card .post-date span.day {
  font-size: 21px;
  margin: 3px 0;
}

.blog-card .post-date span.month {
  font-weight: 400;
  margin-bottom: 3px;
}

.blog-card .post-date span.year {
  font-size: .8em;
}

.blog-card .post-info a{
  text-decoration: none;
  color: #2eca7f;
}
